@use '../../styles/index' as *;


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  height: 100%;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  gap: 100px;
}

.list {
  max-width: 1000px;
  margin: 50px auto 0;

  .heading_list {
    margin-bottom: 20px;
    text-align: center;
  }
}

.ava {
  border-radius: 20px;
}

.edit {
  padding: 10px;
  color: black;
  font-weight: 600;
  background-color: $white;
  border: 4px solid transparent;
  border-radius: 10px;
}

.logout {
  padding: 10px;
  color: $white;
  font-weight: 600;
  background-color: red;
  border: 4px solid transparent;
  border-radius: 10px;
}

.edit_password {
  padding: 50px;

  form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin-top: 20px;
  }

  .title_edit {
    text-align: center;
  }
  input {
    border: 1px solid $white;
  }
}

.column {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.row {
  display: flex;
  gap: 30px;
  width: max-content;
}

.item {
  .label {
    font-size: 15px;
  }
  .content {
    font-weight: 700;
    font-size: 30px;
  }
}