.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  li {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    margin-right: 30px;
    padding: 9px 0;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    background: transparent;
    border-bottom: 3px solid transparent;
    cursor: pointer;
    img {
      margin-right: 10px;
    }
    &.active {
      border-bottom: 3px solid #3f53d8;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}