@use '../../../styles/variables' as *;


.wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input {
  padding: 0.5rem 0.5rem;
  color: $txt-color;
  font-size: 1rem;
  font-family: $font-family;
  background-color: $white;
  border: solid;
  border-radius: $border-radius;
}