@use '../../styles/index' as *;

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.container {
  width: 100%;
  max-width: 500px
}

.title {
  margin-bottom: 20px;
  color: $txt-color;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 1000px;
  margin: 0 auto;
}

.content {
  display: flex;
  gap: 30px;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}

.formGroup {
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.btn {
  max-width: 300px;
}