$body-bg: #ffffff;
$side-color: #f7effd;
$main-color: #723d96;
$txt-color: #424242;
$white: #fff;
$black: #ffffff;
$box-shadow: rgb(100 100 111 / 20%) 0 7px 29px 0;
$header-height: 5rem;
$header-shrink-height: 5rem;

$border-radius: 5px;
$mobile-width: 600px;
$tablet-width: 1024px;
$font-family: 'Roboto', sans-serif;
